
@mixin pc(){
    @media (min-width:992px) {
        @content
    }
};


@mixin gradient-y ($start-color,$end-color){
    background: linear-gradient(to bottom, $start-color,$end-color);
};
@mixin gradient-radial ($inner-color, $outer-color ) {
    background: radial-gradient(circle, $inner-color, $outer-color);
  };

@mixin gradient-left ($start-color,$end-color){
    background: linear-gradient(to right, $start-color,$end-color);
};

@mixin gradient-right ($start-color,$end-color){
    background: linear-gradient(to left, $start-color,$end-color);
};
