<div class="bg-white ">
    <footer class="container d-flex flex-column flex-lg-row justify-content-lg-between align-items-lg-center p-7 p-lg-3 ">
        <div class="">
            <h3 class="fs-2 fw-bold text-dark text-shrikhand">ALPHABOX+</h3>
            <p class="text-dark d-none d-lg-block">Copyright © 2023 Hexschool.</p>
        </div>
        <div class="">
            <span class="material-symbols-outlined me-1 py-lg-7 text-dark" style="font-size: 80px;">
            emergency
          </span>
        </div>
        <div class="text-dark">
            <ul class="list-unstyled d-flex flex-column flex-lg-row fw-bold">
                <li><a href="#" class="text-dark me-5">聯絡我們</a></li>
                <li><a href="#" class="text-dark me-5">產品資訊</a></li>
                <li><a href="#" class="text-dark me-5">常見問題</a></li>
                <li><a href="#" class="text-dark me-5">隱私政策</a></li>
            </ul>
            <p class="text-dark d-lg-none fw-bold">Copyright © 2023 Hexschool.</p>
        </div>
    </footer>
</div>