<div class="bg-primary border-bottom border-light fw-bold">
    <div class="container ">
    <nav class="navbar d-flex  justify-content-between align-items-center position-relative">
        <a class="navbar-brand text-shrikhand text-white fs-4" href="#">ALPHABOX+</a>
        <div class="d-none  d-lg-block">
            <ul class=" d-flex flex-nowrap list-unstyled my-auto">
                <li class=" nav-item me-4"><a href="#" class="nav-link ">產品</a></li>
                <li class=" nav-item me-4"><a href="#" class="nav-link ">關於我們</a></li>
                <li class=" nav-item me-4"><a href="#" class="nav-link ">最新消息</a></li>
                <li class=" nav-item me-4"><a href="#" class="nav-link ">FAQ</a></li>
                <li class=" nav-item me-4"><a href="#" class="nav-link ">聯絡我們</a></li>

            </ul>
        </div>
        <div class="d-none  d-lg-block">
            <ul class="d-flex align-items-center list-unstyled  my-auto">
            <li class=" nav-item me-4"><a href="#" class="nav-link ">註冊</a></li>
            <li class=" nav-item me-4"><a href="#" class="nav-link ">登入</a></li>
            <li class=" nav-item me-5">
                <a href="#" class="nav-link btn btn-dark text-center d-flex align-items-center p-1 bg-white text-dark">
                    <span class="material-symbols-outlined  me-1">
                        point_scan
                        </span>
                    訂閱
                </a>
            </li>
            </ul>
            
        </div>
        <button class="d-lg-none  bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

    </nav>
  
    </div>
      <!--漢堡選單-->
      <div class="collapse position-absolute hamburger-list" id="navbarToggle">
        <div class="">
            <ul class=" d-flex flex-column justify-content-between align-items-center list-unstyled py-6 ">
                <li class=" nav-item"><a href="#" class="nav-link p-2 ">產品</a></li>
                <li class=" nav-item"><a href="#" class="nav-link p-2 ">關於我們</a></li>
                <li class=" nav-item"><a href="#" class="nav-link p-2 ">最新消息</a></li>
                <li class=" nav-item"><a href="#" class="nav-link p-2 ">FAQ</a></li>
                <li class=" nav-item"><a href="#" class="nav-link p-2 ">聯絡我們</a></li>
                <li class=" nav-item"><a href="#" class="nav-link p-2 ">註冊</a></li>
                <li class=" nav-item"><a href="#" class="nav-link p-2 ">登入</a></li>
                <li class=" nav-item">
                     <a href="#" class="nav-link btn btn-white text-dark text-center d-flex align-items-center p-1">
                    <span class="material-symbols-outlined  me-1">
                    point_scan
                    </span>
                    訂閱
                    </a>
                </li>

            </ul>
        </div>
      </div>
</div>
